#background-image-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#background-image {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  transform: scale(1.5);
  filter: brightness(0.5) blur(5px);
}

body {
  color: white;
}

.temperature {
  font-size: 32px;
  padding-top: 28px;
}

.temperature-container {
  display: flex;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather p {
  margin: 0;
}

.weather-description {
  text-transform: uppercase;
  font-size: 13px;
}

.weather-text {
  text-align: left;
  margin-left: -6px;
}
